.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10px;
  text-align: center;
  gap: 10px;
}

@media (max-width: 879px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px){
  .movie-list{
    grid-template-columns: repeat(2, 1fr);
  }
}
