@import '../../scss/index.scss';

.menu-top {
    height: auto;
    padding: 10px;
    background-color: $color-principal;
    z-index: 1;
    position: relative;

    &__ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        height: inherit;
        flex-wrap: wrap;
    }

    &__li {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        margin: 0 10px;
        font-size: 1.4rem;
        color: $fuente-clara;

        &:hover{
            transition: 0.3s ease-in-out;
            color: $fuente-hover;
        }

        img {
            width: 50px;
            margin-right: 40px;
            margin-left: 20px;
        }
    }
}
