.movie {
  height: calc(90vh - 70px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__genre {
    display: flex;
    align-items: center;
    margin: 10px 5px;

    h3{
      margin: 0;
    }

    & ul {
      display: flex;
      padding: 0%;
      margin: 0;

      & li {
        list-style: none;
        margin: 0 10px;
      }
    }
  }

  &__dark {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #000;
    opacity: 0.65;
  }

  &__poster {
    > div {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 300px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    position: absolute;
  }

  &__info {
    color: white;

    &-header {
      h1, h3 {
        color: white;
      }
    }

    &-content {
      h3 {
        color: white;
      }
    }
  }
}
