@import "../../scss/index.scss";

.carousel-movies {
  height: 550px;

  &__movie {
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 40px;
    padding-bottom: 50px;

    > div {
      background-color: rgba($color-oscuro, 0.7);
      margin: 0 auto;
      text-align: center;
      width: 80%;
      padding: 20px;
      color: $fuente-clara;
      font-size: 1rem;

      h2 {
        text-align: center;
        color: $fuente-clara;
        font-size: 1.7rem;
        margin: 10px 0;
      }

      p{
        line-height: 20px;
      }
    }
  }
}
